.bgsliding {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    opacity: .05;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -50%;
    right: -50%;
}

.bgsliding2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bgsliding3 {
    animation-duration: 5s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}